apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: bookkinder-ingress
  namespace: bookkinder-dev
  annotations:
    nginx.ingress.kubernetes.io/rewrite-target: /
spec:
  rules:
    - host: bookkinder.local
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: frontend-svc
                port:
                  number: 3000
