apiVersion: apps/v1
kind: Deployment
metadata:
  name: mysql
  namespace: bookkinder-dev
spec:
  selector:
    matchLabels:
      app: mysql
  replicas: 4
  template:
    metadata:
      labels:
        app: mysql
    spec:
      containers:
        - name: mysql
          image: mysql:8.4
          env:
            - name: MYSQL_ROOT_PASSWORD
              value: "123456789"
            - name: MYSQL_DATABASE
              value: bookkinder
          ports:
            - containerPort: 3306
          volumeMounts:
            - name: mysql-storage
              mountPath: /var/lib/mysql
      volumes:
        - name: mysql-storage
          persistentVolumeClaim:
            claimName: mysql-pvc

---
apiVersion: v1
kind: Service
metadata:
  name: mysql
  namespace: bookkinder-dev
spec:
  selector:
    app: mysql
  ports:
    - port: 3306
      targetPort: 3306
