apiVersion: v1
kind: ConfigMap
metadata:
  name: nginx-config
  namespace: bookkinder-dev
data:
  default.conf: |
    server {
        listen 80;
        server_name _;
        location /api {
            proxy_set_header Host $host;
            proxy_set_header X-Real-IP $remote_addr;
            proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
            proxy_set_header X-Forwarded-Proto $scheme;
            proxy_read_timeout 60s;
            proxy_connect_timeout 5s;
            proxy_pass http://backend:8000;
        }
    }
